/*首页的css*/
.always{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 101;
}
.home{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    right: 0;
    top: 50%;
    margin-top: -25px;
    background-color: wheat;
    line-height: 50px;
    text-align: center;
}
.entry{
    height: 500px;
    background-color: #f5f5f5;
}
.entry .w{
    height: 100%;
    position: relative;
}
.category{
    height: 500px;
    width: 250px;
    background: rgba(0,0,0,.42);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
}
.banner{
    position: relative;
}
.circle{
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 17px;
    gap: 12px;
}
.next{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top:-30px;
    text-align: center;
    line-height: 60px;
    width: 40px;
    height: 60px;
    background: rgba(0,0,0,0.5);
}
.next i{
    color: white;
}
.prev{
    position: absolute;
    left: 250px;
    top: 50%;
    margin-top:-30px;
    text-align: center;
    line-height: 60px;
    width: 40px;
    height: 60px;
    background: rgba(0,0,0,0.5);
}
.prev i{
    color: white;
}
.circle li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}
.circle li:hover{
    box-shadow: 0 0 0 8px rgba(255,255,255,0.5);
}
.category li{
    display: flex;
    width: 250px;
    height: 50px;
    background: rgba(0,0,0,.42);
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 29px;
}
.category li a,
.category li i{
    font-size: 14px;
    color: #FFFFFF;
}
.category li a:first-child{
    font-size: 16px;
    margin-right: 14px;
}
.category li:hover{
    background-color: #00BE9A;  
}
.box-hd{
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: PingFang SC;
}
.box-hd small{
    font-size: 16px;
    color: #A1A1A1;
}
.box-hd a{
    font-size: 16px;
    color: #A1A1A1;
}
.box-bd ul{
    display: flex;
    justify-content: space-between;
}
.box-bd ul li{
    width: 305px;
    height: 404px;
    background-color: #EEF9F4;
}
.wenzi .title{
    text-align: center;
    font-size: 20px;
    margin: 18px 0 8px;
    padding: 0 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: PingFang SC;
}
.wenzi{
    width: 304px;
    height: 100px;
}
.box-bd .price,
.price{
    margin-bottom: 15px;
    text-align: center;
    color: #AA2113;
    font-size: 22px;
    font-family: PingFang SC;
}
.box-bd p{
    color: #A1A1A1;
    font-size: 16px;
    text-align: center;
}
.hot .box-bd ul li{
    width: 305px;
    height: 404px;
    background-color:white;
}
.hot{
    margin-bottom: 60px;
}
.pingpai{
    height: 468px;
    background-color: #F5F5F5;
}
.pingpai .box-bd li{
    background-color: #F5F5F5;
    height: 304px;
}
.shop-nav{ 
    height: 102px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.shop-nav .shop-right{
    display: flex;
    justify-content: space-between;
}
.shop-right ul{
    display: flex;
    gap: 13px;
}
.w .shop-nav .shop-right p a{
    margin-left: 65px;
    color: #A1A1A1;
}
.shop-right ul li a{
    padding: 1px 7px;
}
.shop-right ul li:hover{
    background-color: #00BE9A;
    border-radius: 3px;
    color: white;
}
.shop-body{
    display: flex;
    justify-content: space-between;
}
.shop-body-right ul{
    display: flex;
    flex-wrap: wrap;
}
.shop-body-right li{
    width: 242px;
    height: 305px;
    align-items: center;
    padding: 10px 21px;
}
.shop-body-right p{
    margin-top: 8px;
}
.shop-body-right .price{
    float: left;
}
.new-topic-nav{
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.new-topic-nav p a{
    color: #A1A1A1;
}
.img{
    width: 405px;
    height: 288px;  
    background-color: #00BE9A;
}
.con{
    width:  405px;
    height: 67px;
    margin-top: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.new-topic-goods ul{
    display: flex;
    gap: 15px;
}